body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 60px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover, nav a.active {
    background-color: #34495e;
}

.language-selector {
    margin-right: 20px;
}

main {
    padding: 20px;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    filter: brightness(60%);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 30px;
}

.concepts, .phenomena, .applications, .interpretations {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.concept, .phenomenon, .application, .interpretation {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.concept img, .phenomenon img, .concept video, .phenomenon video, .application img, .interpretation img {
    max-width: 250px;
    margin-right: 20px;
    border-radius: 5px;
}

.application-text, .interpretation-text {
    flex-grow: 1;
}

img {
    max-width: 100%;
    height: auto;
}

/* Stili per schermi di larghezza inferiore a 768px (telefoni cellulari) */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav li {
        margin: 5px 0;
    }

    .logo {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .language-selector {
        margin: 10px 10px;
    }

    .concept, .phenomenon, .application, .interpretation {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .concept img, .phenomenon img, .concept video, .phenomenon video, .application img, .interpretation img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .hero-content {
        position: relative; /* Cambia in relative */
        top: auto;
        left: auto;
        transform: none;
        padding: 20px;
        text-align: center;
    }

    .hero-content h1 {
        font-size: 1.8em;
    }

    .hero-content p {
        font-size: 1em;
    }
}
